.pio
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
ui/node_modules/
ui/dist/
ui/.vite/
release/
*.log
hil-result.txt
ToDo.md
umbau.md
clean.md
signing/release_private.pem
signing/release_public.pem
_ERL/
next.md
next-plan.md